/* Breakpoints */

/* for common breakpoints */
$break-lg-xl: '(min-width: 1200px) and (max-width: 1599px)';
$break-md-lg: '(min-width: 992px) and (max-width: 1199px)';
$break-sm-md: '(min-width: 768px) and (max-width: 991px)';
$break-sm-ds: '(min-width: 769px) and (max-width: 1023px)';
$break-xs-sm: '(min-width: 480px) and (max-width: 767px)';
$break-sm-xl: '(min-width: 768px) and (max-width: 1599px)';
$break-sm-lp: '(min-width: 768px) and (max-width: 1400px)';
$break-smd-dsd: '(min-width: 768px) and (max-width: 1024px)';
$break-ds-lp: '(min-width: 1024px) and (max-width: 1400px)';
$break-des-lap: '(min-width: 1023px) and (max-width: 1300px)';
$break-lg-lp: '(min-width: 1216px) and (max-width: 1400px)';
$break-sm-lg: '(min-width: 768px) and (max-width: 1216px)';

$break-lph-lgh: '(min-height: 600px) and (max-height: 800px)';

/* Apple macbook air start */
$break-mac: 'screen and (min-device-width: 1025px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-device-width: 1025px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
$break-mac-v1: 'screen and (min-device-width: 1025px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1)';
$break-mac-v2: 'screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
/* Apple macbook air end */

/* special landscape devices */
$break-sp-1: 'only screen and (min-device-width: 375px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)';

$break-sp-2: 'only screen and (min-device-width: 375px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape)';

/* only touch devices */
$break-touch: '(hover: none) and (pointer: coarse)';
/* only touch devices */

/* example 
@media #{$break-ds-lp} {

}
*/

/*

 @media screen and (max-width: 1199px) {
            
}

*/

/*
  @media (min-width: 768px) and (max-width: 1599px) {
    
            
}

*/
